<html>
    <head>
        <title>Express App</title>
        <link href="blogs/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Blogs</h1>
        <div class="blogs">
            <div class="blogs-header">
                    <div class="title">Title</div>
                    <div class="content">Content</div>
                    <div class="author">Author</div>
                    <div class="open">Open Blog</div>
                    <div class="edit">Edit Blog</div>
                    <div class="delete">Delete Blog</div>
            </div>
            <div class="blogs-content">
                <% for(var i=0; i<blogs.length;i++) {%>
                    <div class="blogs-item"  data-id="<%= blogs[i].id %>">
                        <div class="title"><%=blogs[i].title %></div>
                        <div class="content"><%=blogs[i].text %></div>
                        <div class="author"><%=blogs[i].author %></div>
                        <div class="open">Open Blog</div>
                        <div class="edit">Edit</div>
                        <div class="delete">Delete</div>  
                    </div>
                <%} %>
            </div>
        </div>
    </body>
</html>