<div class="row align-items-center">
  <div class="col-2">
    <h5>All Blogs: {{$ctrl.blogs.length}}</h5>
  </div>
  <div class="col-3">
    <btn></btn>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Titles</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in $ctrl.blogs">
        <td>{{blog.title}}</td>
        <td>
          <button class="btn btn-danger" ui-sref="edit({ id: blog._id })">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  