html
    head
        style
            include ../styles.css
            include blog.css
    body
        h1 Blog
            div(class="blogs-item" data-id= blog._id)  
                div(class="title")= blog.title
                div(class="content")= blog.text 
                div(class="author")= blog.author
                div(class="open") Open Blog
                div(class="edit") Edit
                div(class="delete") Delete              
