<h2>Add a new blog</h2>
<form name="blogForm" novalidate ng-submit="$ctrl.submit(blogForm)">
  <div class="form-group">
    <label>Blog Title:</label>
    <input
      class="form-control"
      name="title"
      ng-model="$ctrl.blog.title"
      ng-required="true"
      length-validator="5"
    />
    <div ng-messages="blogForm.title.$error" ng-if="$ctrl.showErrors(blogForm.title)">
      <p class="hint" ng-message="lengthValidator">Blog title must be at least 5 characters.</p>
      <p class="hint" ng-message="required">Blog title is required.</p>
    </div>
  </div>
  <div class="form-group">
    <label>Blog Text:</label>
    <input
      class="form-control"
      name="text"
      ng-model="$ctrl.blog.text"
      ng-required="true"
      length-validator="10"
    />
    <div ng-messages="blogForm.text.$error" ng-if="$ctrl.showErrors(blogForm.text)">
      <p class="hint" ng-message="lengthValidator">Blog text must be at least 10 characters.</p>
      <p class="hint" ng-message="required">Blog text is required.</p>
    </div>
  </div>
  <div class="form-group">
    <label>Blog Author:</label>
    <input
      class="form-control"
      name="author"
      ng-model="$ctrl.blog.author"
      ng-required="true"
      minlength="4"
    />
    <div ng-messages="blogForm.author.$error" ng-if="$ctrl.showErrors(blogForm.author)" ng-minlength="4">
      <p class="hint" ng-message="minlength">Blog author must be at least 4 characters.</p>
      <p class="hint" ng-message="required">Blog author is required.</p>
    </div>
  </div>
  <button class="btn btn-success" type="submit" ng-disabled="blogForm.$invalid">{{$ctrl.submitType}}</button>
  <a class="btn btn-danger" ui-sref="blogs">Cancel</a>
</form>